html {
	height: 100%;
	width: 100%;
}

body {
	text-align: center;
	margin: 0;
	color: white !important;
	font-family: 'Calibri', 'Verdana', sans-serif;
	overflow: auto;
	font-size: 15px;
	min-height: 100%;
	min-width: 100%;
	background-color: #212529 !important;
}

button {
	font-family: 'Calibri', 'Verdana', sans-serif;
}

.up,
.down,
.left,
.right {
	touch-action: none;
}

#screen {
	background-color: #65696d;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	width: 100%;
	height: 100%;
}

#screenwrapper {
	border: solid 1px black;
	overflow: visible;
	position: absolute;
	top: 2%;
	left: 260px;
	width: 74vw;
	height: 49.33vw;
}

#actioncontrolpanel {
	width: fit-content;
	height: fit-content;
	background-color: #4f555a;
	position: absolute;
}

#dpadholder {
	position: absolute;
}

#dpadholder * {
	-ms-touch-action: none; /* IE10 */
	touch-action: none; /* IE11 */
	-webkit-user-select: none; /*for ios hover zoom bubble*/
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

#dpadhandle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: 49%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

#abbuttonhandle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: 17px;
	left: 58px;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

#dpadabbuttonholder {
	position: absolute;
	top: 31%;
	left: 4%;
	width: fit-content;
	height: fit-content;
	-ms-touch-action: none; /* IE10 */
	touch-action: none; /* IE11 */
	-webkit-user-select: none; /*for ios hover zoom bubble*/
}

#dpadstartselectbuttonholder {
	position: absolute;
	top: 48%;
	left: 1%;
	-webkit-user-select: none; /*for ios hover zoom bubble*/
}

#dpadabutton {
	width: 60px;
	height: 60px;
	background-color: #111;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 75px;
	margin-top: 0px;
	position: absolute;
	border-style: solid;
}

#dpadabutton:active,
#dpadabutton:active::after,
#dpadabutton:active::before {
	border-color: #61e22d;
	color: #61e22d;
	transition: 0.25s;
}

#dpadbbutton:active,
#dpadbbutton:active::after,
#dpadbbutton:active::before {
	border-color: #61e22d;
	color: #61e22d;
	transition: 0.25s;
}

#dpadbbutton {
	width: 60px;
	height: 60px;
	background-color: #111;
	border-radius: 100px;
	cursor: pointer;
	position: absolute;
	margin-top: 28px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.9);
}

#dpadabutton p,
#dpadbbutton p {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 54px;
	user-select: none;
	border-color: rgba(255, 255, 255, 0.9);
}

#dpadstartbutton,
#dpadselectbutton {
	background-color: #111;
	border: none;
	color: #fff;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 5px;
	cursor: pointer;
	border-radius: 16px;
	width: 84px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.9);
}

#dpadstartbutton:active,
#dpadstartbutton:active::after,
#dpadstartbutton:active::before,
#dpadselectbutton:active,
#dpadselectbutton:active::after,
#dpadselectbutton:active::before {
	border-color: #61e22d;
	color: #61e22d;
	transition: 0.25s;
}

#startselectbuttonhandle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: -3px;
	left: 96px;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

#dpadlrbuttonholder {
	position: absolute;
	top: 57%;
	left: 1%;
	-webkit-user-select: none; /*for ios hover zoom bubble*/
}

#dpadlbutton,
#dpadrbutton {
	width: 72px;
	height: 33px;
	background-color: #111;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	margin: 4px 11px;
	margin-top: 0px;
	display: inline-block;
	border-style: solid;
}

#dpadlbutton:active,
#dpadlbutton:active::after,
#dpadlbutton:active::before,
#dpadrbutton:active,
#dpadrbutton:active::after,
#dpadrbutton:active::before {
	border-color: #61e22d;
	color: #61e22d;
	transition: 0.25s;
}

#lrbuttonhandle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: -3px;
	left: 96px;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

#quickreloadvc {
	position: absolute;
	top: 68%;
	left: 13%;
	-webkit-user-select: none; /*for ios hover zoom bubble*/
}

#quickreloadvcbutton {
	width: 40px;
	height: 40px;
	background-color: #111;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 6px;
	margin-top: 9px;
	position: absolute;
	border-style: solid;
}

#quickreloadvcbutton > i {
	font-size: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#quickreloadvcbutton:active,
#quickreloadvcbutton:active::after,
#quickreloadvcbutton:active::before {
	border-color: #61e22d;
	color: #61e22d;
	transition: 0.25s;
}

#quickreloadvcbuttonhandle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: -3px;
	left: 7px;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

#sendsavetoservervc {
	position: absolute;
	top: 68%;
	left: 5%;
	-webkit-user-select: none; /*for ios hover zoom bubble*/
}

#sendsavetoservervcbutton {
	width: 40px;
	height: 40px;
	background-color: #111;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 6px;
	margin-top: 9px;
	position: absolute;
	border-style: solid;
}

#sendsavetoservervcbutton > i {
	font-size: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#sendsavetoservervcbutton:active,
#sendsavetoservervcbutton:active::after,
#sendsavetoservervcbutton:active::before {
	border-color: #61e22d;
	color: #61e22d;
	transition: 0.25s;
}

#sendsavetoservervcbuttonhandle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: -3px;
	left: 7px;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

.clearbutton {
	background-color: transparent !important;
}

/*mobile portrait*/
@media only screen and (max-width: 1000px) and (orientation: portrait) {
	#screenwrapper {
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 66.66vw;
	}

	#dpadholder {
		top: 100vw;
		left: 2%;
	}

	#dpadabbuttonholder {
		top: 110vw;
		left: 62%;
	}

	#dpadstartselectbuttonholder {
		top: 160vw;
		left: 3%;
	}

	#dpadlrbuttonholder {
		top: 152vw;
		left: 70%;
	}

	#quickreloadvc {
		top: 138vw;
		left: 56%;
	}

	#sendsavetoservervc {
		top: 148vw;
		left: 49%;
	}
}

/*mobile landscape*/
@media only screen and (max-height: 1000px) and (max-width: 1000px) and (orientation: landscape) {
	#screenwrapper {
		top: 0px;
		left: 0px;
		right: 0px;
		width: 150vh;
		height: 100vh;
		margin: auto;
	}

	#dpadholder {
		top: 47vh;
		left: 1%;
	}

	#dpadabbuttonholder {
		top: 59vh;
		left: auto;
		right: 16%;
	}

	#dpadstartselectbuttonholder {
		top: 30vh;
		left: 85.5%;
	}

	#dpadlrbuttonholder {
		top: 10vh;
		left: 85.5%;
	}

	#quickreloadvc {
		top: 6vh;
		left: 80%;
	}

	#sendsavetoservervc {
		top: 6vh;
		left: 23%;
	}
}

#crash {
	margin-top: 100px;
	margin-bottom: -356px;
}

.dockbar-button {
	background-color: darkgray !important;
	margin: 5px 5px;
}

#button_play {
	margin-left: 10px;
}

#button_rotate {
	margin-right: 10px;
}

#pixelated_check {
	padding-left: 44px;
	margin-top: 2px;
}

#sound_check {
	margin-top: 2px;
}

#volume_slider {
	margin-top: 4px;
	margin-right: -7px;
	margin-left: 7px;
	float: right;
}

#flexSwitchCheckChecked {
	margin-top: 4px;
	margin-left: -36px;
}

#pixelated_check_lbl {
	margin-top: -5px;
	padding-left: 2px;
}

#flexSwitchCheckChecked form-check-label {
	margin-top: -5px;
}

p:first-child {
	margin-top: 0;
}

a:link,
a:visited {
	color: #fcb3f0;
}

.hidden {
	opacity: 0 !important;
}

.dead {
	display: none;
}

input[type='file'] {
	opacity: 0 !important;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

h1 {
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: 0;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
}

p {
	margin-top: 0px;
}

#loginbutton {
	margin-top: 5px !important;
}

.modal-body p,
h5,
.modal-body ul {
	color: black;
}

h4 {
	color: black;
}

ul#links {
	display: block;
	text-align: center;
	padding: 0;
}

ul#links li {
	display: inline;
	list-style-type: none;
}

ul#links li:not(:first-child)::before {
	content: '•';
	margin: 0 0.5em;
}

#mapping {
	margin: auto;
	text-align: center;
	border-spacing: 1px 5px;
	border-collapse: unset;
}

#mapping td {
	padding: 5px 23px;
	display: table-cell;
}

#mapping td:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 10px;
	border-right: 1px solid rgba(96, 48, 96, 0.8);
}

#mapping td:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid rgba(96, 48, 96, 0.8);
}

.side-navbar {
	width: 250px;
	height: 100%;
	position: fixed;
	margin-left: -300px;
	background-color: #100901;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	z-index: 15;
	overflow-y: auto;
}

.side-navbar::-webkit-scrollbar {
	display: none;
}

.side-navbar-clear-dismiss {
	position: absolute;
	width: 99%;
	height: 99%;
	background: none;
	z-index: 10;
}

.top-navbar {
	position: absolute !important;
	background-color: transparent !important;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
	background-color: #ffffff26;
}

.nav-link,
#collapseTwo,
#collapseOne {
	width: 100%;
}

.nav-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}

.active-nav-landscape {
	right: -11px !important;
}

/* for main section */
.active-cont {
	margin-left: 250px;
}

.active-cont-landscape {
	margin-left: calc(100% - 250px - 6rem) !important;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
	z-index: 25;
}

.nav-container input {
	border-radius: 2rem;
	padding: 2px 20px;
}

/*hidden label for screen readers*/
.aria-invisible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*dpad and opad component css, auto converted from less.css*/
.set {
	overflow: hidden;
	text-align: center;
}

.set .o-pad {
	display: inline-block;
}

.o-pad {
	position: relative;
	background: #ddd;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border-style: solid;
	border-width: thin;
	overflow: hidden;
	transform: translateZ(
		0
	); /*fix bug in safari, prevent button panels showing when dragged*/
}
.o-pad:after {
	content: '';
	position: absolute;
	z-index: 2;
	width: 20%;
	height: 20%;
	top: 50%;
	left: 50%;
	background: #ddd;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	display: none;
	transition: all 0.25s;
	cursor: pointer;
}
.o-pad:hover:after {
	width: 30%;
	height: 30%;
}
.o-pad a {
	display: block;
	position: absolute;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	width: 50%;
	height: 50%;
	text-align: center;
	transform: rotate(45deg);
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.o-pad a:before {
	content: '';
	position: absolute;
	width: 60%;
	height: 60%;
	top: 50%;
	left: 50%;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.25s;
	cursor: pointer;
	display: none;
}
.o-pad a:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 5px;
	border-style: solid;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: all 0.25s;
}
.o-pad a.up {
	bottom: 51%;
	left: 50%;
	transform: translate(-50%, -20%) rotate(45deg);
	border-top-left-radius: 50%;
}
.o-pad a.up:before {
	left: 57%;
	top: 57%;
}
.o-pad a.up:after {
	left: 53%;
	top: 53%;
	border-width: 0 13px 19px 13px;
	border-color: transparent transparent #aaa transparent;
}
.o-pad a.up:active:after {
	border-bottom-color: #333;
}
.o-pad a.down {
	top: 51%;
	left: 50%;
	transform: translate(-50%, 20%) rotate(45deg);
	border-bottom-right-radius: 50%;
}
.o-pad a.down:before {
	left: 43%;
	top: 43%;
}
.o-pad a.down:after {
	left: 47%;
	top: 47%;
	border-width: 19px 13px 0px 13px;
	border-color: #aaa transparent transparent transparent;
}
.o-pad a.down:active:after {
	border-top-color: #333;
}
.o-pad a.left {
	top: 50%;
	right: 50%;
	transform: translate(-20%, -50%) rotate(45deg);
	border-bottom-left-radius: 50%;
	border: none;
}
.o-pad a.left:before {
	left: 57%;
	top: 43%;
}
.o-pad a.left:after {
	left: 53%;
	top: 47%;
	border-width: 13px 19px 13px 0;
	border-color: transparent #aaa transparent transparent;
}
.o-pad a.left:active:after {
	border-right-color: #333;
}
.o-pad a.right {
	top: 50%;
	left: 50%;
	transform: translate(20%, -50%) rotate(45deg);
	border-top-right-radius: 50%;
	border: none;
}
.o-pad a.right:before {
	left: 43%;
	top: 57%;
}
.o-pad a.right:after {
	left: 47%;
	top: 53%;
	border-width: 13px 0 13px 19px;
	border-color: transparent transparent transparent #aaa;
}
.o-pad a.right:active:after {
	border-left-color: #333;
}
.o-pad a:hover:after {
	left: 50%;
	top: 50%;
}

.dark .o-pad {
	background: #111;
}
.dark .o-pad a {
	border-color: rgba(255, 255, 255, 0.4);
}
.dark .o-pad a:before {
	display: block;
}
.dark .o-pad:before,
.dark .o-pad a {
	background: #111;
}
.dark .o-pad a.up:after {
	border-bottom-color: rgba(255, 255, 255, 0.9);
}
.dark .o-pad a.right:after {
	border-left-color: rgba(255, 255, 255, 0.9);
}
.dark .o-pad a.down:after {
	border-top-color: rgba(255, 255, 255, 0.9);
}
.dark .o-pad a.left:after {
	border-right-color: rgba(255, 255, 255, 0.9);
}
.dark .o-pad a.up:active:after {
	border-bottom-color: #61e22d;
}
.dark .o-pad a.right:active:after {
	border-left-color: #61e22d;
}
.dark .o-pad a.down:active:after {
	border-top-color: #61e22d;
}
.dark .o-pad a.left:active:after {
	border-right-color: #61e22d;
}
.clear .o-pad {
	background: none;
	border: 1px solid #fff;
}
.clear .o-pad a {
	border-color: #fff;
}
.clear .o-pad:before,
.clear .o-pad a {
	background: none;
}
.clear .o-pad a.up:after {
	border-bottom-color: #fff;
}
.clear .o-pad a.right:after {
	border-left-color: #fff;
}
.clear .o-pad a.down:after {
	border-top-color: #fff;
}
.clear .o-pad a.left:after {
	border-right-color: #fff;
}
.clear .o-pad a.up:active:after {
	border-bottom-color: rgba(0, 0, 0, 0.6);
}
.clear .o-pad a.right:active:after {
	border-left-color: rgba(0, 0, 0, 0.6);
}
.clear .o-pad a.down:active:after {
	border-top-color: rgba(0, 0, 0, 0.6);
}
.clear .o-pad a.left:active:after {
	border-right-color: rgba(0, 0, 0, 0.6);
}
