body {
	text-align: center;
	margin: 0;
	color: white !important;
	font-family: 'Calibri', 'Verdana', sans-serif;
	overflow: auto;
	font-size: 15px;
	height: 100%;
	width: 100%;
	background-color: #212529 !important;
}

button {
	font-family: 'Calibri', 'Verdana', sans-serif;
}

#screen {
	background-color: #65696d;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	width: 100%;
	height: 100%;
}

#screenwrapper {
	border: solid 1px black;
	overflow: visible;
	position: absolute;
	top: 2%;
	left: 260px;
	width: 74vw;
	height: 49.33vw;
}

#actioncontrolpanel {
	width: fit-content;
	height: fit-content;
	background-color: #4f555a;
	position: absolute;
}

#dpadholder {
	position: absolute;
}

#dpadholder * {
	-ms-touch-action: none; /* IE10 */
	touch-action: none; /* IE11 */
	-webkit-user-select: none; /*for ios hover zoom bubble*/
}

#dpadhandle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: 49%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

#abbuttonhandle {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: 17px;
	left: 58px;
	transform: translate(-50%, -50%);
	border-radius: 100px;
	cursor: pointer;
}

#dpadabbuttonholder {
	position: absolute;
	top: 31%;
	left: 3%;
	width: fit-content;
	height: fit-content;
	-ms-touch-action: none; /* IE10 */
	touch-action: none; /* IE11 */
	-webkit-user-select: none; /*for ios hover zoom bubble*/
}

#dpadabutton {
	width: 60px;
	height: 60px;
	background-color: #111;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 75px;
	margin-top: 0px;
	position: absolute;
	border-style: solid;
}

#dpadabutton:active,
#dpadabutton:active::after,
#dpadabutton:active::before {
	border-color: #61e22d;
	color: #61e22d;
	transition: 0.25s;
}

#dpadbbutton:active,
#dpadbbutton:active::after,
#dpadbbutton:active::before {
	border-color: #61e22d;
	color: #61e22d;
	transition: 0.25s;
}

#dpadbbutton {
	width: 60px;
	height: 60px;
	background-color: #111;
	border-radius: 100px;
	cursor: pointer;
	position: absolute;
	margin-top: 28px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.9);
}

#dpadabutton p,
#dpadbbutton p {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 54px;
	user-select: none;
	border-color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 1000px) {
	#screenwrapper {
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 66.66vw;
	}

	#dpadholder {
		top: 100vw;
		left: 2%;
	}

	#dpadabbuttonholder {
		top: 110vw;
		left: 62%;
	}
}

#crash {
	margin-top: 100px;
	margin-bottom: -356px;
}

.dockbar-button {
	background-color: darkgray !important;
	margin: 5px 5px;
}

#button_play {
	margin-left: 10px;
}

#button_rotate {
	margin-right: 10px;
}

#pixelated_check {
	padding-left: 44px;
	margin-top: 2px;
}

#sound_check {
	margin-top: 2px;
}

#volume_slider {
	margin-top: 4px;
	margin-right: -7px;
	margin-left: 7px;
	float: right;
}

#flexSwitchCheckChecked {
	margin-top: 4px;
	margin-left: -36px;
}

#pixelated_check_lbl {
	margin-top: -5px;
	padding-left: 2px;
}

#flexSwitchCheckChecked form-check-label {
	margin-top: -5px;
}

p:first-child {
	margin-top: 0;
}

a:link,
a:visited {
	color: #fcb3f0;
}

.hidden {
	opacity: 0 !important;
}

.dead {
	display: none;
}

input[type='file'] {
	opacity: 0 !important;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

h1 {
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: 0;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
}

p {
	margin-top: 0px;
}

.modal-body p,
h5,
.modal-body ul {
	color: black;
}

ul#links {
	display: block;
	text-align: center;
	padding: 0;
}

ul#links li {
	display: inline;
	list-style-type: none;
}

ul#links li:not(:first-child)::before {
	content: '•';
	margin: 0 0.5em;
}

#mapping {
	margin: auto;
	text-align: center;
	border-spacing: 1px 5px;
	border-collapse: unset;
}

#mapping td {
	padding: 5px 23px;
	display: table-cell;
}

#mapping td:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 10px;
	border-right: 1px solid rgba(96, 48, 96, 0.8);
}

#mapping td:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid rgba(96, 48, 96, 0.8);
}

.side-navbar {
	width: 250px;
	height: 100%;
	position: fixed;
	margin-left: -300px;
	background-color: #100901;
	transition: 0.5s;
	z-index: 15;
}

.top-navbar {
	position: absolute !important;
	background-color: transparent !important;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
	background-color: #ffffff26;
}

.nav-link,
#collapseTwo,
#collapseOne {
	width: 100%;
}

.nav-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}

/* for main section */
.active-cont {
	margin-left: 250px;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
	z-index: 25;
}

.nav-container input {
	border-radius: 2rem;
	padding: 2px 20px;
}

/*dpad and dpad component css, auto converted from less.css*/
.set {
	overflow: hidden;
	text-align: center;
}

.set .d-pad,
.set {
	display: inline-block;
}

.d-pad {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 48%;
	overflow: hidden;
}
.d-pad:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 5%;
	transform: translate(-50%, -50%);
	width: 66.6%;
	height: 66.6%;
	background: #ddd;
}
.d-pad:after {
	content: '';
	position: absolute;
	display: none;
	z-index: 2;
	width: 20%;
	height: 20%;
	top: 50%;
	left: 50%;
	background: #ddd;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.25s;
	cursor: pointer;
}
.d-pad:hover:after {
	width: 30%;
	height: 30%;
}
.d-pad a {
	display: block;
	position: absolute;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	width: 33.3%;
	height: 43%;
	line-height: 40%;
	color: #fff;
	background: #ddd;
	text-align: center;
}
.d-pad a:hover {
	background: #eee;
}
.d-pad a:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 5px;
	border-style: solid;
	transition: all 0.25s;
}
.d-pad a:after {
	content: '';
	position: absolute;
	width: 102%;
	height: 78%;
	background: #fff;
	border-radius: 20%;
}
.d-pad a.left,
.d-pad a.right {
	width: 43%;
	height: 33%;
}
.d-pad a.left:after,
.d-pad a.right:after {
	width: 78%;
	height: 102%;
}
.d-pad a.up {
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 17% 17% 50% 50%;
}
.d-pad a.up:hover {
	background: linear-gradient(0deg, #ddd 0%, #eee 50%);
}
.d-pad a.up:after {
	left: 0;
	top: 0;
	transform: translate(-100%, 0);
	border-top-left-radius: 50%;
	pointer-events: none;
}
.d-pad a.up:before {
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-width: 0 13px 19px 13px;
	border-color: transparent transparent #aaa transparent;
}
.d-pad a.up:active:before {
	border-bottom-color: #333;
}
.d-pad a.up:hover:before {
	top: 35%;
}
.d-pad a.down {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 50% 50% 17% 17%;
}
.d-pad a.down:hover {
	background: linear-gradient(180deg, #ddd 0%, #eee 50%);
}
.d-pad a.down:after {
	right: 0;
	bottom: 0;
	transform: translate(100%, 0);
	border-bottom-right-radius: 50%;
	pointer-events: none;
}
.d-pad a.down:before {
	bottom: 40%;
	left: 50%;
	transform: translate(-50%, 50%);
	border-width: 19px 13px 0px 13px;
	border-color: #aaa transparent transparent transparent;
}
.d-pad a.down:active:before {
	border-top-color: #333;
}
.d-pad a.down:hover:before {
	bottom: 35%;
}
.d-pad a.left {
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	border-radius: 17% 50% 50% 17%;
}
.d-pad a.left:hover {
	background: linear-gradient(-90deg, #ddd 0%, #eee 50%);
}
.d-pad a.left:after {
	left: 0;
	bottom: 0;
	transform: translate(0, 100%);
	border-bottom-left-radius: 50%;
	pointer-events: none;
}
.d-pad a.left:before {
	left: 40%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-width: 13px 19px 13px 0;
	border-color: transparent #aaa transparent transparent;
}
.d-pad a.left:active:before {
	border-right-color: #333;
}
.d-pad a.left:hover:before {
	left: 35%;
}
.d-pad a.right {
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	border-radius: 50% 17% 17% 50%;
}
.d-pad a.right:hover {
	background: linear-gradient(90deg, #ddd 0%, #eee 50%);
}
.d-pad a.right:after {
	right: 0;
	top: 0;
	transform: translate(0, -100%);
	border-top-right-radius: 50%;
	pointer-events: none;
}
.d-pad a.right:before {
	right: 40%;
	top: 50%;
	transform: translate(50%, -50%);
	border-width: 13px 0 13px 19px;
	border-color: transparent transparent transparent #aaa;
}
.d-pad a.right:active:before {
	border-left-color: #333;
}
.d-pad a.right:hover:before {
	right: 35%;
}
.d-pad.up a.up:before {
	border-bottom-color: #333;
}
.d-pad.down a.down:before {
	border-top-color: #333;
}
.d-pad.left a.left:before {
	border-right-color: #333;
}
.d-pad.right a.right:before {
	border-left-color: #333;
}
.dark .d-pad a {
	border-radius: 35%;
}
.dark .d-pad:before,
.dark .d-pad a {
	background: #111;
}
.dark .d-pad a.up:hover {
	background: linear-gradient(0deg, #111 0%, #222 50%);
}
.dark .d-pad a.right:hover {
	background: linear-gradient(90deg, #111 0%, #222 50%);
}
.dark .d-pad a.down:hover {
	background: linear-gradient(180deg, #111 0%, #222 50%);
}
.dark .d-pad a.left:hover {
	background: linear-gradient(-90deg, #111 0%, #222 50%);
}
.dark .d-pad a.up:before {
	border-bottom-color: rgba(255, 255, 255, 0.9);
}
.dark .d-pad a.right:before {
	border-left-color: rgba(255, 255, 255, 0.9);
}
.dark .d-pad a.down:before {
	border-top-color: rgba(255, 255, 255, 0.9);
}
.dark .d-pad a.left:before {
	border-right-color: rgba(255, 255, 255, 0.9);
}
.dark .d-pad a.up:active:before {
	border-bottom-color: #61e22d;
}
.dark .d-pad a.right:active:before {
	border-left-color: #61e22d;
}
.dark .d-pad a.down:active:before {
	border-top-color: #61e22d;
}
.dark .d-pad a.left:active:before {
	border-right-color: #61e22d;
}
.d-pad.up a.up:before {
	border-bottom-color: #333;
}
.d-pad.down a.down:before {
	border-top-color: #333;
}
.d-pad.left a.left:before {
	border-right-color: #333;
}
.d-pad.right a.right:before {
	border-left-color: #333;
}
