name: Protected

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  admin:
    uses: ./.github/workflows/admin.workflow.yml

  auth:
    uses: ./.github/workflows/auth.workflow.yml

  gbajs3:
    uses: ./.github/workflows/gbajs3.workflow.yml
    with:
      upload_coverage: ${{ github.event_name == 'push' }}
      compare_to_master: ${{ github.event_name == 'pull_request' }}
